{% extends "layout.html" %}
{%load static  %}

{%block body%}
<form action="/insert" method="post" enctype="multipart/form-data">

  {% csrf_token %}

    <!-- Name input -->
    <div class="form-outline mb-4">
      <input type="text" name="name" id="form5Example1" class="form-control" />
      <label class="form-label" for="form5Example1">Name</label>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" name="email" id="form5Example2" class="form-control" />
      <label class="form-label" for="form5Example2">Email address</label>
    </div>
  
    <!-- phone input -->
    <div class="form-outline mb-4">
        <input type="number" name="phone" id="form5Example1" class="form-control" />
        <label class="form-label" for="form5Example1">phone</label>
      </div>
<!-- image input -->
      <div class="form-outline mb-4">
        <input type="file" accept="image/png,image/jpeg,image/gif" name="image " id="form5Example1" class="form-control" />
        <label class="form-label" for="form5Example1"></label>
      </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
  </form>
{%endblock%}